<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="javascripts/angular.js"></script>
    <script src="javascripts/angular-route.min.js"></script>
    <script src="javascripts/angular-resource.min.js"></script>
    <script src="javascripts/Cart_Angular.js"></script>
</head>
<body ng-app="orders">
    <div ng-controller="shoppingcart">
        <table>
            <tr ng-repeat="hello in FoodTypes">
                <td>{{hello.name}}</td>
                <td><input type="text" ng-model="hello.quantity" /></td>
                <td>{{hello.price}}</td>
                
                <td><input type="button" value="Add To Cart" ng-click="addToCart(hello)" /></td>

                <button ng-click="checkOut()">CheckOut</button>
                {{message}}
            </tr>
        </table>
    </div>

</body>
</html>