#dropdown {
    margin:0px;
    padding:0px;
    float:right;
    position:absolute;
    top:108px;
    left:-10px;
    border:1px solid #000000;
    display:none;
}

#dropdown .dropdownitem {
    padding:0 15px 0 10px;
    width:80px;
    height:30px;
    font-size:13px;
    font-weight:normal;
    color:#000000;
    text-align:left;
    line-height:30px;
    list-style-type:none;
    border:1px solid #000000;
    background-color:#FFFCFD;
}

#logo{
    width:900px;
    height:200px;
    margin:auto;
    background-repeat:no-repeat;
    background-size:contain;
    background-color:#FFFCFD;
    background-image:url("../images/logo.png");
    padding-left:300px;
}

#menu{
    margin:auto;
    width:50px;
    height:20px;
    position:relative;
}

.homepage_menu{
    width:160px;
    height:200px;
    font-family:fantasy;
    font-size:16px;
    color:#000000;
    font-weight:400;
    line-height:200px;
    float: left;
    text-align:center;
}

.button{
        white-space: nowrap;
        background-color:white;
        border: 1px solid black;
        font: bold 1em/2em Arial, Helvetica;
        margin:0 7em 0 4em;
        text-decoration: none;
        color: #333;
        text-shadow: 0 1px 0 rgba(255,255,255,.8);
        -moz-border-radius: .2em;
        -webkit-border-radius: .2em;
        border-radius: .2em;
        -moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
        -webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
        box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
}

#poster{
    margin:auto;
    width:1200px;
    height:500px;
    background-image:url("../images/poster.jpg");
    background-repeat:no-repeat;
    background-size:1200px 500px;
}

#poster_i{
    width:300px;
    height:50px;
    font-family:Chewy;
    font-size:36px;
    color:#000000;
    font-weight:400;
    line-height:48px;
    text-align:left;
    float:left;
    margin-top:330px;
    margin-left:800px;
}
#poster_p{
    width:300px;
    height:61px;
    opacity:0.6;
    font-family:Cabin;
    font-size:16px;
    color:#f7071b;
    font-weight:700;
    line-height:20px;
    text-align:left;
    float:left;
    margin-top:5px;
    margin-left:800px;
}

#navigator{
    margin:auto;
    width:1200px;
    height:500px;
}

#navigator_menu{
    width:800px;
    height:500px;
    float:left;
}

#navigator_delivery{
    width:400px;
    height:250px;
}

#navigator_reservation{
    width:400px;
    height:250px;
}

#footer{
    margin:auto;
    width:1200px;
    height:300px;
    background-color:#353740;
}

#footer_logo{
    width:90px;
    height:25px;
    font-family:PT Serif;
    font-size:18px;
    color:#ffffff;
    font-weight:700;
    line-height:25px;
    text-align:left;
    float:left;
    margin-top:30px;
    margin-left:150px;
    padding-right:300px;
}

.footer_contact{
    width:200px;
    height:31px;
    font-family:PT Sans;
    font-size:14px;
    color:#a4abbf;
    font-weight:400;
    line-height:21px;
    text-align:left;
}

.footer_menu{
    width:200px;
    height:23px;
    font-family:PT Serif;
    font-size:16px;
    color:#ffffff;
    font-weight:400;
    line-height:22px;
    text-align:left;
}

#footer_copyright{
    font-family:PT Serif;
    font-size:12px;
    color:#a4abbf;
    font-weight:400;
    text-decoration:underline;
    text-align:left;
    margin-left:150px;
}